* {
  font-family: Roboto;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}
a a:visited {
  color: black;
  text-decoration: none;
}
a a:hover {
  color: black;
  text-decoration: none;
}
a a:focus {
  color: black;
  text-decoration: none;
}
a a:hover,
a a:active {
  color: black;
  text-decoration: none;
}

.hero-section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 0 50px 0;
}
.hero-section p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 0 15px 0;
}

.fonctionnement-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 35px 5px;
}
.fonctionnement-section h2 {
  margin: 40px 0 0 0;
  padding: 0 0 0 15px;
}

.restaurants-section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 100px 20px;
  justify-content: space-between;
  background-color: #f6f6f6;
}
.restaurants-section h2 {
  margin: 40px 0 10px 0;
}

.menu-hero-section img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu-section {
  background: #f6f6f6;
  border-top: 20px solid #f6f6f6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
}
.menu-section .menu-main-title {
  position: relative;
}
.menu-section .menu-main-title h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  padding: 0 15px;
  position: relative;
}
.menu-section .menu-main-title .heart-title {
  position: absolute;
  top: 33%;
  right: 4%;
  /* font-weight: 500; */
  font-size: 23px;
}
.menu-section .menu-main-title .heart-title i {
  right: 110%;
}
.menu-section .menu-subtitles {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  width: 40px;
  margin: 20px 0 0 20px;
  border-bottom: solid 3px #99e2d0;
  line-height: 5px;
}
.menu-section .order-div {
  display: flex;
  margin: 20px 0 40px 0;
  justify-content: center;
}

footer {
  margin: 0;
  background-color: #353535;
  padding: 35px;
}
footer a {
  color: white;
}
footer .sitewide-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .sitewide-links i {
  margin: 0 20px 0 0;
  width: 12px;
}
footer .logo-footer {
  filter: invert(100%);
  width: 30%;
  margin-bottom: 20px;
}

header {
  margin: 0;
  width: 100%;
}
header .header-box {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 14px 89px 13px 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header i {
  margin: 0 0 0 -70px;
}
header .logo-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-subsection {
  display: flex;
  padding-left: 20%;
  gap: 17px;
  background-color: #eaeaea;
  background-color: #eaeaea;
}
.header-subsection .search-icon {
  padding-left: 25%;
  display: flex;
  color: #353535;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.header-subsection input {
  background-color: #eaeaea;
  text-align: left;
  border: 1px solid #eaeaea;
  height: 48px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.default-button {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px;
  cursor: pointer;
}

.default-button:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  filter: brightness(1.2);
}

.menu-button {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px 40px;
  cursor: pointer;
}

.menu-button:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  filter: brightness(1.2);
}

.cards {
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.cards img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards .cards-content {
  margin: 5px 0 5px 0;
  padding: 0 0 0 15px;
}
.cards .cards-content + p {
  margin-bottom: 15px;
}

.fonctionnement-card {
  position: relative;
  display: flex;
  width: 325px;
  align-items: center;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.fonctionnement-card .icon-purple {
  color: #9356dc;
}
.fonctionnement-card i {
  margin: 0 30px;
  width: 20px;
}
.fonctionnement-card .bullet-list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  color: white;
  text-align: center;
  background-color: #9356dc;
  font-size: 14px;
  left: -10px;
}

.fonctionnement-card:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.menu-card {
  position: relative;
  width: 325px;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 15px auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.menu-card .text {
  padding: 10px;
  overflow: hidden;
}
.menu-card .price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.menu-card .price h4 {
  align-self: end;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.menu-card h3,
.menu-card p {
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-card .checkmark {
  display: flex;
  position: relative;
  background-color: #99e2d0;
  height: 75px;
  border-radius: 0 8px 8px 0;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 0;
}
.menu-card i {
  background-color: #ffffff;
  color: #99e2d0;
  border-radius: 50%;
  width: 0px;
  height: 30px;
  position: relative;
  font-size: 0;
}
.menu-card .fa-check:before {
  content: "\f00c";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-card:hover .checkmark {
  width: 50px;
  transition: ease-in-out 0.2s;
}

.menu-card:hover i {
  width: 30px;
  font-size: 12px;
  transition: ease-in-out 0.2s;
}

.menu-card:hover i::before {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.heart {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 90%;
  top: 83%;
  font-size: 22px;
  z-index: 9999999;
  pointer-events: all;
}
.heart .fa-solid {
  visibility: hidden;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
}
.heart i {
  position: absolute;
}

.heart:hover .fa-regular {
  visibility: hidden;
}

.heart:hover .fa-solid {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
