* {
  font-family: Roboto;
}

body {
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}
a a:visited {
  color: black;
  text-decoration: none;
}
a a:hover {
  color: black;
  text-decoration: none;
}
a a:focus {
  color: black;
  text-decoration: none;
}
a a:hover,
a a:active {
  color: black;
  text-decoration: none;
}

.hero-section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 0 50px 0;
}
@media screen and (min-width: 768px) {
  .hero-section h1 {
    font-size: 40px;
  }
}
.hero-section p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 0 15px 0;
}

.fonctionnement-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 35px 5px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement-section {
    padding: 10px 10% 40px;
  }
}
.fonctionnement-section h2 {
  margin: 40px 0 0 0;
  padding: 0 0 15px 15px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement-section h2 {
    padding: 20px 150px 35px 30px;
  }
}

@media screen and (min-width: 740px) {
  .fonctionnement-cards-section {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement-cards-section {
    display: flex;
    flex-wrap: wrap;
  }
}

.restaurants-section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 100px 20px;
  justify-content: space-between;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .restaurants-section {
    padding: 20px 10% 35px 10%;
  }
}
.restaurants-section h2 {
  margin: 40px 0 10px 0;
}
@media screen and (min-width: 1024px) {
  .restaurants-section h2 {
    padding-left: 32px;
  }
}

@media screen and (min-width: 740px) {
  .restaurants-card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 20px;
  }
}

.menu-hero-section img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 1440px) {
  .menu-hero-section img {
    height: 383px;
  }
}

.menu-section {
  background: #f6f6f6;
  border-top: 20px solid #f6f6f6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
}
@media screen and (min-width: 768px) {
  .menu-section {
    margin: -60px 15% 0 15%;
  }
}
.menu-section .menu-main-title {
  position: relative;
}
.menu-section .menu-main-title h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  padding: 0 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu-section .menu-main-title h2 {
    display: flex;
    justify-content: center;
  }
}
.menu-section .menu-main-title .heart-title {
  position: absolute;
  top: 33%;
  right: 4%;
  /* font-weight: 500; */
  font-size: 23px;
}
.menu-section .menu-main-title .heart-title i {
  right: 110%;
}
@media screen and (min-width: 1024px) {
  .menu-section .menu-main-title .heart-title i {
    right: 390%;
  }
}
@media screen and (min-width: 1440px) {
  .menu-section .menu-main-title .heart-title i {
    right: 480%;
  }
}
.menu-section .menu-subtitles {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  width: 40px;
  margin: 20px 0 0 20px;
  border-bottom: solid 3px #99e2d0;
  line-height: 5px;
}
@media screen and (min-width: 768px) {
  .menu-section .menu-subtitles {
    margin: 20px 0 0 15%;
  }
}
@media screen and (min-width: 1024px) {
  .menu-section .menu-subtitles {
    margin: 20px 0 0 15%;
  }
}
@media screen and (min-width: 1440px) {
  .menu-section .menu-subtitles {
    margin: 20px 0 0 160px;
  }
}
.menu-section .order-div {
  display: flex;
  margin: 20px 0 40px 0;
  justify-content: center;
}

footer {
  margin: 0;
  background-color: #353535;
  padding: 35px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 35px 0 35px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  footer {
    padding: 75px 0 15px 0;
  }
}
footer a {
  color: white;
}
footer .sitewide-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  footer .sitewide-links {
    flex-direction: row;
    padding-left: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer .sitewide-links i {
  margin: 0 20px 0 0;
  width: 12px;
}
footer .logo-footer {
  filter: invert(100%);
  width: 30%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer .logo-footer {
    margin-left: 45px;
    width: 50%;
  }
}

header {
  margin: 0;
  width: 100%;
}
header .header-box {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 14px 89px 13px 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .back-arrow {
  position: absolute;
  left: 4%;
  font-size: 90%;
  top: 40%;
}
@media screen and (min-width: 768px) {
  header .back-arrow {
    top: 38%;
    font-size: 100%;
  }
}
header .logo-header {
  box-sizing: border-box;
  width: 200px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header .logo-header {
    width: 200px;
    height: 44px;
    margin-bottom: 1%;
  }
}

.header-subsection {
  display: flex;
  gap: 17px;
  background-color: #eaeaea;
  background-color: #eaeaea;
}
.header-subsection .search-icon {
  padding-left: 25%;
  display: flex;
  color: #353535;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header-subsection .search-icon {
    padding-left: 39%;
  }
}
@media screen and (min-width: 1024px) {
  .header-subsection .search-icon {
    padding-left: 43%;
  }
}
.header-subsection input {
  background-color: #eaeaea;
  text-align: left;
  border: 1px solid #eaeaea;
  height: 48px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.default-button {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px;
  cursor: pointer;
}

.default-button:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  filter: brightness(1.2);
}

.menu-button {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px 40px;
  cursor: pointer;
}

.menu-button:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  filter: brightness(1.2);
}

.cards {
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.cards img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards .cards-content {
  font-weight: 700;
  margin: 0;
  padding: 5px 0 15px 15px;
}

.fonctionnement-card {
  position: relative;
  display: flex;
  width: 325px;
  align-items: center;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: 700;
}
.fonctionnement-card .icon-purple {
  color: #9356dc;
}
.fonctionnement-card i {
  margin: 0 30px;
  width: 20px;
}
.fonctionnement-card .bullet-list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  color: white;
  text-align: center;
  background-color: #9356dc;
  font-size: 14px;
  left: -10px;
}

.fonctionnement-card:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.menu-card {
  position: relative;
  width: 325px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
@media screen and (min-width: 768px) {
  .menu-card {
    width: 70%;
  }
}
.menu-card .text {
  padding: 10px;
  overflow: hidden;
}
.menu-card .price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.menu-card .price h4 {
  align-self: end;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.menu-card h3,
.menu-card p {
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-card .checkmark {
  display: flex;
  position: relative;
  background-color: #99e2d0;
  height: 75px;
  border-radius: 0 8px 8px 0;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 0;
  transition: ease-in-out 0.2s;
}
.menu-card i {
  background-color: #ffffff;
  color: #99e2d0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 0;
}
.menu-card .fa-check:before {
  content: "\f00c";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-card:hover .checkmark {
  width: 50px;
  transition: ease-in-out 0.2s;
}

.menu-card:hover i {
  font-size: 12px;
  transition: ease-in-out 0.2s;
}

.menu-card:hover i::before {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.heart {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 90%;
  top: 83%;
  font-size: 22px;
  z-index: 1;
  pointer-events: all;
}
.heart:hover .fa-regular {
  visibility: hidden;
}
.heart:hover .fa-solid {
  opacity: 1;
  transition: opacity 0.5s;
}
.heart .fa-solid {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  opacity: 0;
}
.heart i {
  position: absolute;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #d1914b;
  box-sizing: border-box;
  --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
  --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--c) 11px 15px, var(--b) 6px 15px, var(--c) 35px 23px, var(--b) 29px 15px, var(--c) 11px 46px, var(--b) 11px 34px, var(--c) 36px 0px, var(--b) 50px 31px, var(--c) 47px 43px, var(--b) 31px 48px, #f6d353;
  background-size: 15px 15px, 6px 6px;
  animation: l4 2s infinite;
}

@keyframes l4 {
  0% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 0, #000 0);
  }
  16.67% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 60deg, #000 0);
  }
  33.33% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 120deg, #000 0);
  }
  50% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 180deg, #000 0);
  }
  66.67% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 240deg, #000 0);
  }
  83.33% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 300deg, #000 0);
  }
  100% {
    -webkit-mask: conic-gradient(rgba(0, 0, 0, 0) 360deg, #000 0);
  }
}
body.loaded .loader-overlay {
  display: none;
}

body.loaded .content {
  display: block;
}

.menu-main-title {
  opacity: 0;
  animation: fadein 1s forwards;
}

#entrees {
  opacity: 0;
  animation: 2s fadein 2s forwards;
}

#plats {
  opacity: 0;
  animation: 2s fadein 4s forwards;
}

#desserts {
  opacity: 0;
  animation: 2s fadein 6s forwards;
}

.order-div {
  opacity: 0;
  animation: 1s fadein 5s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
