.menu-main-title {
    opacity: 0;
    animation: fadein 1s forwards;
}
#entrees {
    opacity: 0;
    animation: 2s fadein 2s forwards;
}
#plats {
    opacity: 0;
    animation: 2s fadein 4s forwards;
}
#desserts {
    opacity: 0;
    animation: 2s fadein 6s forwards;
}
.order-div {
    opacity: 0;
    animation: 1s fadein 5s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
