.heart {
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 90%;
    top: 83%;
    font-size: 22px;
    z-index: 9999999;
    pointer-events: all;
    .fa-solid {
        visibility: hidden;
        color: transparent;
        background-clip: text;
        background-image: $heart-gradient;
    }
    i {
        position: absolute;
    }
}
.heart:hover .fa-regular {
    visibility: hidden;
}

.heart:hover .fa-solid {
    visibility: visible;
}
