header {
    margin: 0;
    width: 100%;

    .header-box {
        background-color: $main-background-color;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        padding: 14px 89px 13px 89px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back-arrow {
        position: absolute;
        left: 4%;
        font-size: 90%;
        top: 40%;
        @media screen and (min-width: 768px) {
            top: 38%;
            font-size: 100%;
        }
    }
    .logo-header {
        box-sizing: border-box;
        width: 200px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 768px) {
            width: 200px;
            height: 44px;
            margin-bottom: 1%;
        }
    }
}

.header-subsection {
    display: flex;
    gap: 17px;
    background-color: $third-background-color;
    background-color: $third-background-color;

    .search-icon {
        padding-left: 25%;
        display: flex;
        color: #353535;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            padding-left: 39%;
        }
        @media screen and (max-width: 768px) {
            padding-left: 31%;
        }
        @media screen and (min-width: 1024px) {
            padding-left: 43%;
        }
    }
    input {
        background-color: #eaeaea;
        text-align: left;
        border: 1px solid $third-background-color;
        height: 48px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
    }
}
