.logo-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 89px 13px 89px;
}

.logo-footer {
    filter: invert(100%);
}
