$main-background-color: #ffffff; //Lighter to darker (main to third)//
$secondary-background-color: #f6f6f6;
$third-background-color: #eaeaea;
$main-text-color: #353535;
$main-background-button-color: #99e2d0;
$nouveau-text-color: #008766;
$main-purple: #9356dc;
$button-gradient: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
