.hero-section {
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0 50px 0;
    h1 {
        @media screen and (min-width: 768px) {
            font-size: 40px;
        }
    }
    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 0 0 15px 0;
    }
}
.fonctionnement-section {
    background-color: $main-background-color;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 35px 5px;
    h2 {
        margin: 40px 0 0 0;
        padding: 0 0 15px 15px;
    }
}

.restaurants-section {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 100px 20px;
    justify-content: space-between;
    background-color: $secondary-background-color;
    h2 {
        margin: 40px 0 10px 0;
    }
}

.menu-hero-section img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.menu-section {
    background: $secondary-background-color;
    border-top: 20px solid $secondary-background-color;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    margin-top: -60px;

    .menu-subsection {
    }
    .menu-main-title {
        position: relative;
        h2 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
            padding: 0 15px;
            position: relative;
        }
        .heart-title {
            position: absolute;
            top: 33%;
            right: 4%;
            /* font-weight: 500; */
            font-size: 23px;
            i {
                right: 110%;
            }
        }
    }
    .menu-subtitles {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        width: 40px;
        margin: 20px 0 0 20px;
        border-bottom: solid 3px $main-background-button-color;
        line-height: 5px;
    }
    .order-div {
        display: flex;
        margin: 20px 0 40px 0;
        justify-content: center;
    }
}
