.hero-section {
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0 50px 0;
    h1 {
        @media screen and (min-width: 768px) {
            font-size: 40px;
        }
    }
    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 0 0 15px 0;
    }
}
.fonctionnement-section {
    background-color: $main-background-color;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 35px 5px;
    @media screen and (min-width: 1024px) {
        padding: 10px 10% 40px;
    }
    h2 {
        margin: 40px 0 0 0;
        padding: 0 0 15px 15px;
        @media screen and (min-width: 1024px) {
            padding: 20px 150px 35px 30px;
        }
    }
}
.fonctionnement-cards-section {
    @media screen and (min-width: 740px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.restaurants-section {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 100px 20px;
    justify-content: space-between;
    background-color: $secondary-background-color;
    @media screen and (min-width: 1024px) {
        padding: 20px 10% 35px 10%;
    }
    h2 {
        margin: 40px 0 10px 0;
        @media screen and (min-width: 1024px) {
            padding-left: 32px;
        }
    }
}
.restaurants-card-section {
    @media screen and (min-width: 740px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 20px;
    }
}

.menu-hero-section img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.menu-section {
    background: $secondary-background-color;
    border-top: 20px solid $secondary-background-color;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    @media screen and (min-width: 768px) {
        margin: -60px 15% 0 15%;
    }
    .menu-main-title {
        position: relative;
        h2 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
            padding: 0 15px;
            position: relative;
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }
        .heart-title {
            position: absolute;
            top: 33%;
            right: 4%;
            /* font-weight: 500; */
            font-size: 23px;
            i {
                right: 110%;
                @media screen and (min-width: 1024px) {
                    right: 390%;
                }
                @media screen and (min-width: 1440px) {
                    right: 480%;
                }
            }
        }
    }
    .menu-subtitles {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        width: 40px;
        margin: 20px 0 0 20px;
        border-bottom: solid 3px $main-background-button-color;
        line-height: 5px;
        @media screen and (min-width: 768px) {
            margin: 20px 0 0 15%;
        }
        @media screen and (min-width: 1024px) {
            margin: 20px 0 0 15%;
        }
        @media screen and (min-width: 1440px) {
            margin: 20px 0 0 160px;
        }
    }
    .order-div {
        display: flex;
        margin: 20px 0 40px 0;
        justify-content: center;
    }
}
